
.navbar-expand-lg .navbar-nav .nav-link{
    padding-left: 1rem;
    padding-right: 1rem;
}

.logo{
    width: 3vw;
}

.colortexto{
    font-size: 30px;
}

h6{
    font-size: 1.5rem;
    margin: 1rem;
}