:root {
    --colorFondoCard: #fafafa;
    --colorTexto: #1f1f1f;
    --colorPrecioViejo: #c61e1e;
    --colorPrecioDescuento: green;
    --colorBtnInformativo: #0b55bc;
    --colorBtnInfomativoHover: #081586;

}

.cardProducto {
    background-color: var(--colorFondoCard);
    border-radius: 10px;
    width: 25rem;
    padding: 2rem 1.5rem 2rem 1.5rem;
    margin: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: 1rem 1rem 1rem rgb(60, 60, 60);
}

.imgProducto {
    padding-bottom: 1rem;
    height: 200px;
    width: 100%;
    object-fit: contain;
    border-bottom: solid 0.2rem rgba(56, 56, 56, 0.5);

}

.cardDatosTodos {
    width: 100%;
}

.nombre {
    color: var(--colorTexto);
    font-weight: 600;
    text-align: center;
    margin: 1rem .5rem;
}

.cardDatosOFF {
    display: flex;
    justify-content: center;
}

.precioOFF {
    color: var(--colorPrecioViejo);
    text-decoration-line: line-through;
    font-size: 2rem;
    text-align: center;
    margin-bottom: 0rem;
}

.off {
    color: var(--colorPrecioDescuento);
    font-size: 2rem;
    font-weight: bold;
    padding-left: 1rem;

    margin-bottom: 0rem;
}

.precio {
    color: var(--colorTexto);
    font-size: 3.5rem;
    text-align: center;
    font-weight: bold;
    margin: 0rem;
}

.sku_stock {
    font-style: oblique;
    text-align: right;
    margin-bottom: 0rem;
    color: var(--colorTexto);
}

.CarDatosVerMas {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 1rem;

}

.btnInformativo {
    background-color: var(--colorBtnInformativo);
    width: 75%;
    text-align: center;
    color: #fafafa;
    font-size: 1.25rem;
    text-decoration: none;
    border-radius: 1rem;
}

.btnInformativo:hover {
    background-color: var(--colorBtnInfomativoHover);
    color: #fafafa;
    font-size: 1.25rem;
    text-decoration: none;
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.5);
}