.cardProducto {
    background-color: #fafafa;
    border-radius: 10px;
    width: 25rem;
    padding: 2rem 1rem 2rem 1rem;
    margin: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: 1rem 1rem 1rem  rgb(60, 60, 60);
}

.imgProducto {
    padding-bottom: 1rem;
    height: 200px;
    width: 100%;
    object-fit: contain;
    border-bottom:solid 0.2rem rgba(56, 56, 56, 0.5);
    
}

.cardDatosTodos {
    width: 100%;
}

.nombre {
    color: #383838;
    font-weight: 600;
    text-align: center;
    margin: 2rem;

}

.cardDatosOFF {
    display: flex;
    justify-content: center;
    height: 2.5rem;
}

.precioOFF {
    color: rgb(239, 12, 57);
    text-decoration-line: line-through;
    font-size: 2rem;
    text-align: center;
}

.off {
    font-size: 2rem;
    font-weight: bold;
    padding-left: 1rem;
    color: darkgreen
}

.precio {
    color: #383838;
    font-size: 3rem;
    text-align: center;
    font-weight: bold;
}

.sku_stock {
    font-style: oblique;
    text-align: right;
    height: 1rem;

}

.CarDatosVerMas {
    width: 100%;
    display: flex;
    justify-content: center;

}

.verMas{
    background-color: rgb(24, 98, 182);
    padding: 0 1rem 0 1rem;
    width: 75%;
    text-align: center;
    color: #fafafa;
    font-size: 1.25rem;
    text-decoration: none;
    border-radius: 1rem;
}

.verMas:hover{
    background-color: #0a195e;
    color: #fafafa;
    font-size: 1.25rem;
    text-decoration: none;
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.5);
}