.contenedorCartItem {
  margin: 1rem .5rem;
  background-color: #f5dc92;
  border-radius: 10px;
  display: flex;
  align-items: center;
  width: 48%;
  min-width: 300px;
}

.cartItemCompleto{
  background-color: darkolivegreen;
}

.cartItemImg {
  display: flex;
  align-items: center;
  padding-bottom: 1rem;
  height: 12rem;
  width: 15rem;
  object-fit: hidden;
  align-content: center;
  justify-content: center;
  padding: 1rem;
}

.img_cart {
  width: 97%;
}


.cartItemDatos {
  display: flex;
  justify-content: space-between;
  padding: 0rem 1rem;
  width: 100%;
}

.cartItemBtnEliminar {
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--colorBtnAtencion);
}

.bi-x-square {
  color: var(--colorBtnAtencion);
}

.bi-x-square:hover {
  color: var(--colorBtnAtencionHover);
}

.cartItemBold {
  font-weight: bold;
}


@media screen and (max-width: 409px) {

  .contenedorCartItem {
    flex-direction: column;

  }

.img_cart {
  width: auto;
}

}
