.contenedorCartItem {
  margin: 0.5rem;
  background-color: #bcffb1;
  border-radius: 10px;
  box-shadow: 1rem 1rem 1rem rgb(60, 60, 60);
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  width: 250px;

  }

  .cartItemImg {
    background-color: coral;
    display: flex;
    align-items: center;
    padding-bottom: 1rem;
    height:20rem;
    width: 20rem;
    object-fit: contain;
    border-bottom: solid 0.2rem rgba(56, 56, 56, 0.5);

  }

  .img_cart{
    
  }



  .cartItemDatos {
display: flex;
    background-color: blueviolet;
  }

.hola2{
  justify-content: end;
}