.cardCheckout {
    background-color: var(--colorFondoCard);
    border-radius: 10px;
    padding: 2rem 1.5rem 2rem 1.5rem;
    margin: 2rem;
    display: flex;
    box-shadow: 1rem 1rem 1rem rgb(60, 60, 60);
}


.checkoutDetallesCompra{
    /* background-color: rgb(24, 176, 52); */
    width: 50%;
}


.checkoutFormulario{
    /* background-color: rgb(39, 92, 141); */
    width: 50%
    ;
}

.detalleCompra_1, .detalleCompra_2{
    padding: 0rem 15rem;
    display: flex;
    justify-content: space-between;
    text-align: left;
    align-self: auto;
}







.formulario {
    margin: 0 auto;
}

.form-group {
    display: flex;
    flex-direction: column;
    margin-bottom: 1rem;
    margin: 0 1rem;
}

label {

    margin-bottom: 0.5rem;
}

input,
textarea {
    padding: 0.25rem;

    border: 1px solid #000;
    border-radius: 5px;
    margin-bottom: 1rem;
}

h2, h3 {
    text-align: center;
    margin-bottom: 2rem;
}

.orderId {
    display: block;
    margin: 4rem;
    padding: 2rem;
    font-size: 2rem;
    border: 1px solid black;
    border-radius: 5px;

}