.div_contadores {
    display: flex;
    align-items: center;
    justify-content: center;
}

.btnContadores {
    background-color: rgba(0, 0, 0, 0);
    border: none;

}

.bi-dash-square,
.bi-plus-square {
    margin: 1rem;
}

.bi-dash-square:hover,
.bi-plus-square:hover {
    color: var(--colorbtnEstiloAllHover)
}


.div_agregar {
    display: flex;
    justify-content: center;
}

.btnAgregarCarro {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30%;
}

.bi-bag-plus {
    font-size: 2rem;
    padding-right: 1rem;
    color: antiquewhite
}