.contadores{
    display: flex;
    align-items: center;
    justify-content: center;
}

.btnContadores{
    background-color:rgba(0, 0, 0, 0);
    border: none;

}

.agregar{
display: flex;
justify-content: center;
}

.btnAccion {
    display: flex;
    align-items: center;
    background-color:rgba(0, 0, 0, 0);
    border: none;
    padding: 0 2rem 0 2rem;
    background-color: aqua;


}
.bi-dash-square-fill, .bi-plus-square-fill{
    margin: 1rem;
}

.bi-dash-square-fill:hover, .bi-plus-square-fill:hover{
    color: blue;

}

.bi-bag-plus{
    font-size: 2rem;
    padding-right: 1rem;

}