.App {
  text-align: center;
}

*{
font-family: 'PT Sans Caption', sans-serif;
}

/* COLORES */


:root {
  --colorFondoCard: #fafafa;
  --colorTexto: #1f1f1f;
  --colorPrecioViejo: #c61e1e;
  --colorPrecioDescuento: green;
  --colorBtnEstiloAll: #0b55bc;
  --colorBtnEstiloAllHover: #081586;
  --colorBtnAtencion: #6c0303;
  --colorBtnAtencionHover: rgb(221, 27, 27);
  --colorBtnFinCompra: rgb(122, 228, 122);
  --colorBtnFinCompraHover: rgb(19, 111, 19);
 
}


/* BOTONES */

button {
  background-color: rgba(0, 0, 0, 0);
  /* border: brown 3px solid; */
  border: none;
}

.btnEstiloAll {
  background-color: var(--colorBtnEstiloAll);
  width: 75%;
    color: #fafafa;
  font-size: 1.25rem;
  text-decoration: none;
  border-radius: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
}


.btnEstiloAll:hover {
  background-color: var(--colorBtnEstiloAllHover);
  color: #fafafa;
  text-decoration: none;
  box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.5);
}


.btnEstiloAtencion {
  background-color: var(--colorBtnAtencion);
  width: 75%;
    color: #fafafa;
  font-size: 1.25rem;
  text-decoration: none;
  border-radius: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.btnEstiloAtencion:hover {
  background-color: var(--colorBtnAtencionHover);
  color: #fafafa;
  text-decoration: none;
  box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.5);
}

.btnSecundario {
border: 2px solid var(--colorBtnEstiloAll);
  width: 75%;
    color: var(--colorBtnEstiloAll);
  font-size: 1.25rem;
  text-decoration: none;
  border-radius: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.btnSecundario:hover {
  box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.5);
}


.btnFinCompra {
  background-color: var(--colorBtnFinCompra);
  width: 100%;
    color: #fafafa;
  font-size: 1.25rem;
  text-decoration: none;
  border-radius: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
  }
  
  .btnFinCompra:hover {
    background-color: var(--colorBtnFinCompraHover);
    color: #fafafa;
    text-decoration: none;
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.5);
  }
  
  





