.contenedorCartDetalle {
    margin: 2rem;
    background-color: var(--colorFondoCard);
    border-radius: 10px;
    padding: 2rem 1.5rem 2rem 1.5rem;
    box-shadow: 1rem 1rem 1rem rgb(60, 60, 60);
    display: flex;
    justify-content: space-between;
}



.noHayProductos {
    flex-direction: column;
    align-items: center;

}

.hayProductos {
    display: flex;
    flex-wrap: wrap;
    align-items: s;
    justify-content: space-around;
    width: 89%
}

.carritoTotal {
    min-width: 180px;
}

.carritoTotalBotones {
    display: flex;
    flex-direction: column;
}

.bi-trash3,
.bi-check-lg {
    color: antiquewhite;
    font-size: 2rem;
    padding-right: 1rem;
}


.btnFinalizar,
.btnVaciarCarro {
    margin: 1rem;
    width: 200px;
}

.btnCarroVacio {
    color: #fff;
    width: 300px;
    height: 28px;
    text-decoration: none;
}

.btnCarroVacio:hover {
    color: #fff;
    width: 300px;
    height: 28px;
}

.btnCarroVacio a {
    color: #fff;
    text-decoration: none;
}