i{
    font-size: 3rem;
}


.carroEstilos{
    display: flex;
    align-items: center;
}

.notificacion{
    background-color: brown;
    border-radius: 1rem;
    padding: .25rem;
    color: antiquewhite;
    font-weight: 300;

}