.contenedorItemDetalle {
    margin: 3rem;
    display: flex;
    justify-content: center;
    background-color: #fafafa;
    border-radius: 10px;
    padding: 2rem 1.5rem 2rem 1.5rem;
    box-shadow: 1rem 1rem 1rem rgb(60, 60, 60);
}

.volver_img {
    background-color: aqua;
    /* display: flex; */


}

.flechaVolver{
    border:none;
    height: 4rem;
}

i {
    font-size: 4rem;
}


.detalleImg {
    height: 300px;
    object-fit: contain;
}

.detalleTexto {
    text-align: center;
    width: 40%;
    background-color: chocolate;
    margin: 0rem 2rem;
} 


.nombreDetalle {
    color: #383838;
    font-size: 3rem;
    text-align: center;
    margin-bottom: 0rem;
    font-weight: bold;
}

.sku_stockDetalle {
    font-style: oblique;
    text-align: right;
    height: 1rem;
    font-size: 1.5rem;
}

.precioDetalle {
    color: #383838;
    padding: 2.8rem;
    font-size: 3rem;
    text-align: center;
    font-weight: bold;
}

.detalleDetalle {
    color: #383838;
    font-size: 1.5rem;


}





