.contenedorItemDetalle {
    margin: 2rem;
    display: flex;
    justify-content: center;
    background-color: #fafafa;
    border-radius: 10px;
    padding: 2rem 1.5rem 2rem 1.5rem;
    box-shadow: 1rem 1rem 1rem rgb(60, 60, 60);
}

.contenedorItemDetalleImg{
    display: flex;
    justify-content: center;
    align-items: center;
}
    

.volver_img {
    display: flex;
}

.flechaVolver {
    height: 4rem;
}


.detalleImg {
    height: 300px;
    object-fit: contain;
}

.detalleTexto {
    text-align: center;
    width: 40%;
    margin: 0rem 2rem;


}

.btnTerminar{
    display: flex;
    justify-content: center;
    margin-top: 2rem;;
}



.nombreDetalle {
    color: var(--colorTexto);
    font-size: 3rem;
    text-align: center;
    margin-bottom: 0rem;
    font-weight: bold;
}

.sku_stockDetalle {
    color: var(--colorTexto);
    font-style: oblique;
    text-align: right;
    height: 1rem;
    font-size: 1.5rem;
    margin-top: 1rem;
}

.precioDetalle {
    color: var(--colorTexto);
    padding: 2.8rem;
    font-size: 3rem;
    text-align: center;
    font-weight: bold;
}

.detalleDetalle {
    color: var(--colorTexto);
    font-size: 1.5rem;

}

.bi-eye{
font-size: 2rem;
    padding-right: 1rem;
    color: var(--colorBtnEstiloAll);
}

.itemDetailBotones{
    margin-top: 2rem;
    display: flex;
    justify-content: center;
}


@media screen and (max-width: 1265px) {

    .contenedorItemDetalle {
    flex-direction: column;
    align-items: center;}

    .detalleTexto {
        text-align: center;
        width: 100%;
        margin: 0rem 2rem;
    }

}


@media screen and (max-width: 420px) {

    .btnSecundario, .btnEstiloAll{
        width: 75%;
}

}

    
