.colorTexto {
    color:black;
    cursor: pointer;
    border-bottom: 3px solid transparent;
    height: 33.4px;
    

}

.colorTexto:hover{
    color:black;
    border-bottom-color: black;
}

.navbar-expand-lg .navbar-nav .nav-link{
    padding-left: 1rem;
    padding-right: 1rem;
}